body {
  background-image:url(http://s1.bwallpapers.com/wallpapers/2014/02/11/violet-color-background_092209769.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
  font-family: Palatino Linotype;
  color:#907;
  background-color:#FFA1FF;
  margin: auto;
  border-radius:5px;
  max-width: 250px;
  margin-top:150px;;
  margin-bottom:15px;
}

h5 {
   font-family: Palatino Linotype;
   color:#907;
   background-color:#FFA1FF;
   border-radius:5px;
   padding: 7px 10px;
   margin-top: 0;
}

img {
  width:250px;
  margin:auto;
  display:inline-block;
  border: solid medium white;
  box-shadow:2px 0px 4px black;
}

#subtitle {
  font-size:13pt;
  color:rgb(200, 200, 200);
  font-family: Palatino Linotype;
}

#facts {
  border: solid medium white;
  padding:15px;
  background-color:rgb(200, 70, 200);
  display:inline-block;
  box-shadow:2px 0px 4px black;
}

#summary {
  border: solid medium white;
  background-color: rgb(225, 119, 200);
  box-shadow:2px 0px 4px black;
  color:black;
  padding:15px;
  font-family: Palatino Linotype;
  display:inline-block;
}
